.firstclasscontact {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.carter {
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
}

.list {
    /* border: 1px solid red; */
    width: 40%;


}

.ulcontact {
    list-style: none;

    display: flex;
    gap: 20px;

}

.Contactbtn {
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    gap: 30px;

}

.Contactbtn button {
    height: 38px;
    width: 130px;
    background-color: #d4aC62;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.Contactbtn i {
    background-color: #d4aC62;
    border-radius: 50px;
    /* border: 1px solid red; */
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
}

.aboutmain h1 {
    font-size: 50px;
    text-align: center;

}

.ourteammain {
    /* border:1px solid red; */
    text-align: center;
}

.ourteamheading button {
    border: 1px solid #d4aC62;
    width: 120px;
    height: 28px;
    border-radius: 10px;

}

.ourteammain h1 {
    /* border:1px solid red; */
    font-size: 39px;
}

.ourteamimmain {
    display: flex;
    margin: 0px auto;
    width: 80%;
    gap: 20px;

}

.ourteamimg {
    background-image: url('img/team-1.jpg');
    /* border: 1px solid red; */
    height: 400px;
    background-repeat: no-repeat;
    width: 300px;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;
}
.ourteamimg:hover .iconhover{
    visibility: visible;
}

.ourteamimg1 {
    background-image: url('img/team-2.jpg');
    /* border: 1px solid red; */
    height: 400px;
    /* background-repeat: no-repeat; */
    width: 300px;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg1:hover .iconhover{
    visibility: visible ;

}

.ourteamimg2 {
    background-image: url('img/team-3.jpg');
    /* border: 1px solid red; */
    height: 400px;
    /* background-repeat: no-repeat; */
    width: 300px;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg2:hover .iconhover{
    visibility: visible;
}

.ourteamimg3 {
    background-image: url('img/team-4.jpg');
    /* border: 1px solid red; */
    height: 400px;
    /* background-repeat: no-repeat; */
    width: 300px;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg3:hover .iconhover{
    visibility: visible;
}

.myimgicon {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
}

.myimgicon i {
    background-color: #d4aC62;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 5px 0px;
}

.iconhover {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}