.main{
    width: 1280px;
    /* border: 1px solid red; */
    margin: 0px auto;
}
.navbar {
    width: 1280px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.navbar h1 {
    width: 20%;
    /* border: 1px solid red; */
    /* text-align: center; */
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Playball', cursive;
}

.li {
    /* border: 1px solid black; */
    width: 60%;
}

.list {
    list-style: none;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    gap: 40px;
    font-size: 20px;


}
.navbtn{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    gap: 30px;
}

.navbtn i {
    height: 40px;
    width: 40px;
    /* border: 1px solid red; */
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
    background-color: #d4a762;
    border: none;

}
.navbtn button{
    width: 130px;
    height: 37px;
    border-radius: 18px;
    border: none;
    background-color: #d4a762;
    font-size: 17px;
}


.navbtn i:hover {
    background-color: black;
    color: #d4a762;

}
.navbtn button:hover {
    background-color: black;
    color: #d4a762;

}

.aboutmain h1 {
    font-size: 50px;
    text-align: center;

}

.ourteammain {
    /* border:1px solid red; */
    text-align: center;
    width: 100%;
    /* border: 1px solid red; */
   
}

.ourteamheading button {
    border: 1px solid #d4aC62;
    width: 120px;
    height: 28px;
    border-radius: 10px;

}

.ourteammain h1 {
    /* border:1px solid red; */
    font-size: 39px;
}

.ourteamimmain {
    display: flex;
    margin: 0px auto;
    width: 100%;
    gap: 20px;

}

.ourteamimg {
    background-image: url('img/team-1.jpg');
    /* border: 1px solid red; */
    height: 350px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
.ourteamimg:hover .iconhover{
    visibility: visible;
}
.teamname{
    /* border:1px solid red; */
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
}
.teamname p{
    font-size: 20px;
    color: white;
   
    box-sizing: border-box;

}
.teamname h3{
    font-size: 24px;
    color: #d4aC62;

}
.teamname:hover{
    background-color: #d4aC62;
   

}
.teamname h3:hover{
    color: black;
}




.ourteamimg1 {
    background-image: url('img/team-2.jpg');
    /* border: 1px solid red; */
    height: 350px;
    /* background-repeat: no-repeat; */
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg1:hover .iconhover{
    visibility: visible ;

}

.ourteamimg2 {
    background-image: url('img/team-3.jpg');
    /* border: 1px solid red; */
    height: 350px;
    /* background-repeat: no-repeat; */
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg2:hover .iconhover{
    visibility: visible;
}

.ourteamimg3 {
    background-image: url('img/team-4.jpg');
    /* border: 1px solid red; */
    height: 350px;
    /* background-repeat: no-repeat; */
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    border-radius: 10px;


}
.ourteamimg3:hover .iconhover{
    visibility: visible;
}

.myimgicon {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
}

.myimgicon i {
    background-color: #d4aC62;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 5px 0px;
}

.iconhover {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}