.navbar {
    width: 1280px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin: 0px auto;
}

.navbar h1 {
    width: 20%;
    /* border: 1px solid red; */
    /* text-align: center; */
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Playball', cursive;
}

.li {
    /* border: 1px solid black; */
    width: 60%;
}

.list {
    list-style: none;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    gap: 40px;
    font-size: 20px;


}
.navbtn{
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    gap: 30px;
}

.navbtn i {
    height: 40px;
    width: 40px;
    /* border: 1px solid red; */
    border-radius: 100px;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
    background-color: #d4a762;
    border: none;

}
.navbtn button{
    width: 130px;
    height: 37px;
    border-radius: 18px;
    border: none;
    background-color: #d4a762;
    font-size: 17px;
}


.navbtn i:hover {
    background-color: black;
    color: #d4a762;

}
.navbtn button:hover {
    background-color: black;
    color: #d4a762;

}

.secondsectionmain{
    border: 1px solid green;
    margin: 50px 0px;
   
}
.secondsectionmain h1{
    /* border: 1px solid red; */
    font-size: 50px;
    text-align: center;
}



/* 3rd section csss */
.getintouchsectionmain{
    /* border: 1px solid red; */
    /* display: flex; */
    /* width: 80%; */
    margin: 0px auto;
    
   
    
}
.main{
    width: 1280px;
    margin: 0px auto
}
.get1{
    width: 50%;
    /* border: 1px solid red; */
     
   
}
.get1 button{
    width: 139px;
    height: 32px;
    border:1px solid #d4aC62;
    border-radius: 20px;
}
.get h1{
    font-size: 47px;
}
.get1 p{
    color: #9a9a9a;
    font-size: 18px;
    width: 100%
}
.get1 input{
    border: 1px solid #d4aC62;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    font-size: 20x;
    color: #9a9a9a;
    margin: 10px 0px ;
    padding: 10px 20px;
     box-sizing: border-box;

}
.get1 textarea{
    border: 1px solid #d4aC62;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: #9a9a9a;
    padding: 20px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
   

    
}
.get2{
    width: 50%;
    margin-top: 110px;
    margin: 0px auto;
}
.get3{
    border: 1px solid #d4aC62;
    height: 135px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;

}
.get2 h1{
    font-size: 26px;
    margin: 10px 20px;
    

}
.get2 p{
    font-size: 17px;
    color: #9a9a9a;
    margin: 0px 20px;

}



.contactheading{
    /* border: 1px solid red; */
}



.contactinput{
    /* border: 1px solid red; */
    width: 80%;
}


.contactflex{
    display: flex;
    /* border: 1px solid red; */
    /* width: 50%; */
}
.contactflex p{
    font-size: 18px;
    color: #9a9a9a;
    width: 88%;
    margin: 14px auto;
}
.contactinput input{
    color: #9a9a9a;
    width: 100%;
    height: 40px;
    border: 1px solid #d4a762;
    border-radius: 10px;
     margin: 14px auto;
    }

.contactinput textarea{

     color: #9a9a9a;
    width: 100%;
    height: 100px;
    border: 1px solid #d4a762;
    border-radius: 10px;
     margin: 14px auto;
    }
.contactinput button{
    background-color: #d4a762;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    width: 100%;
    height: 54px;
     margin: 10px auto;
}
