.navbar {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.navbar h1 {
    width: 70%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    font-family: 'Playball', cursive;
}

.li {
    /* border: 1px solid black; */
    width: 100%;
}

.list {
    list-style: none;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    gap: 40px;
    font-size: 20px;

}

.icon {
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 100px;
    text-align: center;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #d4a762;
    border: none;

}

.button {
    /* border: 1px solid green; */
    width: 90%;
    display: flex;
    gap: 20px;

}

.btn {
    width: 120px;
    height: 48px;
    border-radius: 20px;
    background-color: #d4a762;
    border: none;
    font-size: 17px;

}

button:hover {
    background-color: black;
    color: #d4a762;


}

.icon:hover {
    background-color: black;
    color: #d4a762;

}
.main{
    width: 1280px;
    margin: 0px auto;
        border: 1px solid red;

}
.secondsectionmain {
    /* border: 1px solid red; */
    /* display: flex; */
    /* display: flex; */
    margin: 50px;



}

.class1 {
    width: 80%;
    /* border: 1px solid green; */
    display: flex;
    margin: 0px auto;
}

.class2 {
    /* border: 1px solid green; */
    width: 50%;
    /* margin: 0px auto; */
    animation: anm1;
    animation-duration: 2s;
    animation-iteration-count: inherit;

}

.class2 p {
    border: 1px solid #d4a762;
    width: 40%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 19px;

}

.class2 h1 {
    width: 100%;
    /* border: 1px solid red; */
    font-size: 80px;
    font-family: 'Playball', cursive;


}

.mainbutton {
    /* border: 1px solid red; */

}

.btn3 {
    /* border: 1px solid red; */
    width: 120px;
    height: 48px;
    border-radius: 20px;
    background-color: #d4a762;
    border: none;
    font-size: 17px;

}

.btn4 {
    /* border: 1px solid red; */
    width: 120px;
    height: 48px;
    border-radius: 20px;
    background-color: #d4a762;
    border: none;
    font-size: 17px;

}

.imagesecondsection {
    width: 50%;




}

.img {
    width: 80%;
    height: 500px;
    animation: anm2;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    transition: all 2s;



}

@keyframes anm1 {
    0% {
        margin-top: -800px;

    }

    100% {
        margin-top: 0px;


    }
}

@keyframes anm2 {
    0% {
        transform: scale(0.5);

    }

    100% {
        transform: scale(1);
    }
}

/* client section  */
.clientsecmain {
    /* border: 1px solid red; */
   
    margin: 50px auto;

}

.client1 {
    /* border: 1px solid red; */
    display: flex;

    /* width: 90%; */
    margin: 0px auto;
}

.client1 img {
    width: 500px;
    height: 500px;
}

.client2 {
    /* border: 1px solid black; */
    margin: 0px 50px;
    width: 100%;
    animation: anm4;
    animation-duration: 1.5s;
    animation-iteration-count: inherit;
}

.clientbtn1 {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    color: black;
    border: 1px solid #d4a762;
    font-size: 18px;


}

.clientbtn2 {
    width: 150px;
    height: 48px;
    border-radius: 20px;
    background-color: #d4a762;
    border: none;
    font-size: 17px;

}

.client2 h1 {
    font-size: 48px;
    font-family: 'Playball', cursive;
    width: 90%;
    /* border: 1px solid red; */

}

.clientp {
    font-size: 17px;
    color: #9A9A9A;
    width: 73%;
}

.client3 {
    /* border: 1px solid red; */
    margin: 20px 0px;



}

.clienticon {
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    gap:30px;
    /* width: 60%; */
    /* justify-content:space-between; */
    /* margin: 20px 0px; */
    font-size: 18px;
}

.clienticon2 {
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    gap:30px;
    /* width: 70%; */
    /* justify-content:space-between; */
    font-size: 18px;
}

.clientimage {
    /* border: 1px solid red; */
    animation: anm3;
    animation-duration: 1s;
    animation-iteration-count: initial;


}

@keyframes anm3 {
    0% {
    
        transform:translateY(1500px);
        transition: all 2s;

    }

    100% {
        transform:translateY(0px)

 
    }
}

@keyframes anm4 {
    0% {
        margin-top: 1500px;


    }

    100% {
        margin-top: 0px;
    }
}



/* next section csss */
.newclassmain {
    border: 1px solid red;
    margin: 100px auto;
    width: 1280px;

}

.newclass {
    border: 1px solid red;
    /* width: 84%; */
    margin: 0px auto;
    display: flex;
    gap: 20px;
    animation-name: anm5;
    animation-duration: 1s;

}

.newclass1 {
    /* border: 1px solid red; */
    width: 180px;
    height: 240px;
    background-color: #d4a762 !important;
    margin: 40px 0px;

}

.newclass1 i {
    color: white;
width: 100%;
text-align: center;

}

.newclass1 h1 {
    font-size: 56px;
    text-align: center;

}

.newclass1 p {
    font-size: 17px;
    text-align: center;


}
.newclass1anm1{
    animation-name: newclass1anm1;
    animation-duration: 1.5s;
}
.newclass1anm2{
    animation-name: newclass1anm2;
    animation-duration: 1.8s;
}
.newclass1anm3{
    animation-name: newclass1anm3;
    animation-duration: 2s;
}

@keyframes newclass1anm1{
    0%{
        /* transition: all 2s; */
        transform: translateY(1500px);


    }
    100%{

        transform: translateY(0px);
    }
}


@keyframes newclass1anm2{
    0%{
        /* transition: all 2s; */
        transform: translateY(1500px);


    }
    100%{

        transform: translateY(0px);
    }
}


@keyframes newclass1anm3{
    0%{
        /* transition: all 2s; */
        transform: translateY(1500px);


    }
    100%{

        transform: translateY(0px);
    }
}


@keyframes anm5{
    0%{
        /* transition: all 2s; */
        transform: translateY(1500px);


    }
    100%{

        transform: translateY(0px);
    }
}

/* our services section css */
.ourservicemain{
    border:1px solid red;
    text-align: center;


}
.servicebtn {
    width: 130px;
    height: 25px;
    border-radius: 20px;
    color: black;
    border: 1px solid #d4a762;
    font-size: 16px;
 
}
.ourservicemain h1{
    font-size: 48px;
     font-family: 'Playball', cursive;
     text-align: center;
    

}
.cardd{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-template-rows: 230px 230px;
    justify-content: space-between;
    row-gap: 20px;
}
.card1{
    border: 1px solid rebeccapurple;
    position: relative;
}
.card1::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;

}
.card1:hover::after{
    background-color: #d4a762;
    animation-name: anm7;
    animation-duration: 2s;
}
@keyframes anm7{
    0%{
        height: 0px;
    }
    100%{
        height: 100%;
    }
}



